@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1365px;
  margin: 0 auto;
}

.wrapper .Britlex {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 54px;
}

.wrapper .Britlex .gray {
  color: gray;
}

.navbut {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

.marg {
  margin-left: 20px;
}

.Learn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.Learn .Text_Main {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 600;
  font-size: 60px;
  line-height: 80px;
}

.Learn .undertext {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  margin-top: 25px;
  color: #8F95A5;
}

.Learn .button_1 {
  background: #263238;
  border-radius: 15px;
  margin-top: 40px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 54px;
  padding: 30px 125px;
  color: white;
}

.flex-count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.Country {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-top: 100px;
}

.Country img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.wrapper {
  width: 100%;
}

.Speaking {
  padding: 0 40px;
}

.flex_one {
  padding: 0 50px;
}

.flex_last {
  padding: 0 50px;
}

.Reading {
  padding: 0 10px;
}

.Wrapper_Skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 18px;
}

.Wrapper_Skills .Speaking {
  background: #F5F5F5;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 80px;
  /* identical to box height, or 267% */
  color: #263238;
}

.Contact_Us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}

.input::-webkit-input-placeholder {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */
  color: #8F95A5;
}

.input:-ms-input-placeholder {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */
  color: #8F95A5;
}

.input::-ms-input-placeholder {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */
  color: #8F95A5;
}

.input::placeholder {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */
  color: #8F95A5;
}

.Text_contact {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 80px;
  /* identical to box height, or 167% */
  color: #000000;
}

.Under_Text_Speak,
.under_contact {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #8F95A5;
}

.Price_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 582px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.Skil,
.Text_price {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 80px;
  text-align: center;
}

.Text_price {
  background-color: red;
}

.flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.flex_one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.sect_three {
  margin-top: 176px;
}

.Writing,
.Read,
.List,
.About,
.vosem {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 80px;
  /* identical to box height, or 267% */
  color: #263238;
}

.text_one {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 48px;
  /* identical to box height, or 160% */
  color: #263238;
}

.price_one {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 45px;
  /* identical to box height */
  color: #263238;
  width: 240px;
  height: 45px;
  left: 130px;
  top: 3379px;
  background: #EEEEEE;
  border-radius: 5px;
}

.price_one .span {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */
  color: #546269;
}

.flex_obj {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 111px;
}

.input_plus_but {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.input {
  border: 1px solid #8F95A5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  width: 450px;
  height: 80px;
}

.button {
  width: 264px;
  height: 80px;
  background: #263238;
  border-radius: 10px;
}

.white {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height */
  color: #FFFFFF;
}

.Price_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 138px;
}

.Under_write,
.Under_read,
.Under_List,
.UnderAbout,
.undertext_one {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #8F95A5;
}

.asd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
}

.img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: 10px;
}

.Reading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #F5F5F5;
  height: auto;
}

.flex-column {
  gap: 10px;
}

.flex-row {
  gap: 10px;
}

.read_under_read {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex_one {
  background: #F5F5F5;
}

.Text_Undertext {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex_last {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background: #F5F5F5;
}

.foot {
  margin-top: 165px;
}

.flex-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 607px;
}

.text_footer {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  /* identical to box height */
  color: #8F95A5;
}

.title_about {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 80px;
  /* identical to box height, or 167% */
  color: #000000;
}

.work-space {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  gap: 20px;
}

.block_one {
  min-height: 582px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
  height: 100%;
}

.block_one .text_one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  min-height: 48px;
}

.block_one .img_one {
  max-height: 306px;
  height: img;
  height-max-height: 306px;
  height-height: 100%;
}

.about_us {
  margin-top: 40px;
}

.about_us .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about_us .wrapper .block_text_about_us {
  padding: 20px 30px;
  max-width: 635px;
}

.about_us .wrapper .block_text_about_us .about_static {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about_us .wrapper .block_text_about_us .about_static .static_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about_us .wrapper .block_text_about_us .about_static .static_item .role {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #8F95A5;
}

.about_us .wrapper .block_text_about_us .about_static .static_item .count {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  color: #2A3246;
}

.about_us .wrapper .block_text_about_us .about_description {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #8F95A5;
}

.about_us .wrapper .block_text_about_us .title_about {
  font-size: 48px;
  color: #000000;
}
/*# sourceMappingURL=Kurs.css.map */